*{
	padding: 0px;
	margin: 0px;
	font-family: "黑体";
	font-size: 14px;
	color: #8e9197;
}
body{
	background-color: #ccc;
}
.page{
	width: 1280px;
	overflow: auto;
	margin: 0 auto;
	background-color: white;
}
header{
	width: 100%;
	height: 57px;
	background-color: white;
}
.logo{
	margin-left: 59px;
	display: inline-block;
	margin-top: 13px;
}
.logo span{
	margin-left: 10px;
	font-size: 21px;
	color: black;
	font-weight: 500;
	vertical-align: top;
	line-height: 31px;
}
header ul{
	display: inline-block;
	vertical-align: top;
	text-indent: 539px;
	margin-top: 16px;
	/*border: 1px solid black;*/
}
header ul li{
	text-indent: 0px;
	display: inline-block;
	line-height: 14px;
	width: 65px;
	word-spacing: 0px;
	letter-spacing: 0px;
	height: 34px;
	margin-left: 10px;
	text-align: center;
}
header ul li a{
	text-decoration: none;
}
header ul li:hover{
	border-bottom: 5px solid #e7504d;
}
header .active{
	border-bottom: 5px solid #e7504d;
}
header .login{
	display: inline-block;
	margin-top: 14px;
	vertical-align: top;
	text-indent: 30px;
}
header .login a{
	margin-left: 5px;
	text-decoration: none;
}
main .front .pic1{
	width: 100%;
	height: 691px;
	background-image: url(../img/no7_pic1.png);
	position: relative;
}
main .front .pic1 .shadow{
	width: 100%;
	height: 691px;
	background-color: black;
	opacity: 0.2;
	position: absolute;
	top: 0px;
	left: 0px;
}
main .front .pic1 .description{
	margin-left: 116px;
	margin-top: 230px;
	position: absolute;
}
main .front .pic1 .description .p1{
	margin-top: 30px;
}
main .front .pic1 .description p{
	font-size: 21px;
	font-family: "微软雅黑";
	color: white;
	font-weight: 100;
	line-height: 37px;
}
main .front .pic1 .description a{
	margin-top: 66px;
	display: inline-block;
	width: 331px;
	height: 65px;
	background-color: #e74f4d;
	text-decoration: none;
	font-size: 30px;
	font-family: "微软雅黑";
	color: white;
	line-height: 65px;
	text-align: center;
}
main .front .pic1 h2{
	font-family: "微软雅黑";
	font-size: 60px;
	font-weight: 400;
	color: white;
}
main .front .how{
	width: 100%;
	height: 250px;
	background-color: white;
}
main .front .how li{
	margin: 0;
	display: inline-block;
	height: 250px;
	width: 320px;
	vertical-align: top;
	text-align: center;
}
main .front .how li img{
	 margin-top: 45px;
}
main .front .how li div{
	margin-top: 46px;
	height: 47px;
}
main .front .how li .description{
	border-right: 3px solid #bbbbbc;
}
main .center{
	width: 1278px;
	height: 1872px;
	margin-left: 2px;
	background-image: url(../img/no7_pic4.png);
}
main .center .answer{
	height: 361px;
	background-color: #ededed;
	text-align: center;
}
main .center .answer img{
	margin-top: 90px;
}
main .center .answer p{
	margin-top: 40px;
	font-size: 54px;
	color: #a1a1a1;
}
main .center .search{
	height: 341px;
	background-image: url(../img/map.png);
	position: relative;
}
main .center .search .mask{
	position: absolute;
	background-color: #aa3433;
	height: 341px;
	width: 100%;
	opacity: 0.2;
}
main .center .search .content{
	position: absolute;
	height: 341px;
	width: 100%;
	text-align: center;
}
main .center .search .content .p1{
	margin-top: 52px;
	font-family: "微软雅黑";
	font-size: 21px;
	color: white;
}
main .center .search .content .line{
	width: 31px;
	height: 3px;
	margin-top: 10px;
	background-color: white;
	display: inline-block;
}
main .center .search .content .p2{
	margin-top: 15px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: white;
}
main .center .search .content form{
	margin-top: 52px;
}
main .center .search .content form select{
	height: 36px;
	width: 236px;
	background-color: white;
	text-indent: 5px;
}
main .center .search .content form select:hover{
	border: 1px solid #be4e48;
}
main .center .search .content form input{
	width: 236px;
	height: 34px;
	background-color: #be4e48;
	color: white;
	font-size: 12px;
	font-family: "微软雅黑";
	border: 1px solid #be4e48;
}
main .center .search .content form input:hover{
	transition: 1s;
	background-color: white;
	color: black;
}
main .center .search .content form div{
	height: 18px;
	width: 19px;
	background-color: #be4e48;
	position: relative;
	right: 32px;
	display: inline-block;
	top:3px;
}
main .center .search .content form div img{
	margin-bottom: 4px;
}
main .center .activity{
	height: 605px;
	background-color: #f7f7f7;
	position: relative;
}
main .center .activity .pic3{
	height: 364px;
	width: 970px;
	margin: auto;
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
}
main .center .activity .pic3 img{
	position: absolute;
	z-index: 20000;
}
main .center .activity .beijing,.shanghai,.shenzhen,.hongkong{
	height: 337px;
	width: 219px;
	background-color: white;
	box-shadow: 1px 1px 2px gray;
	position: absolute;
	z-index: 10000;
	text-align: center;
}
main .center .activity .beijing{
	left: -8px;
	top: -11px;
}
main .center .activity .shanghai{
	left: 247px;
	top: 41px;
}
main .center .activity .shenzhen{
	left: 503px;
	top: -11px;
}
main .center .activity .hongkong{
	left: 759px;
	top: -11px;
}
.beijing h3,.shenzhen h3,.hongkong h3{
	margin-top: 349px;
	color: black;
}
.shanghai p,h2{
	position: relative;
	top: -50px;
}
.shanghai h2{
	color: black;
}
main .center .new_world{
	height: 567px;
	width: 100%;
}
main .center .new_world .time{
	height: 567px;
	width: 848px;
	display: inline-block;
	text-align: center;
	position: relative;
}
main .center .new_world .description{
	height: 567px;
	width: 410px;
	display: inline-block;
	text-align: center;
}
main .center .new_world .time h3{
	margin-top: 131px;
	font-size: 49px;
	font-family: "微软雅黑";
	color: white;
}
main .center .new_world .time h2{
	margin-top: 11px;
	font-size: 157px;
	font-family: "微软雅黑";
	color: white;
}
main .center .new_world .time h4,h5{
	font-size: 22px;
	font-family: "微软雅黑";
	color: white;
}
main .center .new_world .time h4{
	margin-top: -44px;
}
main .center .new_world .time img{
	position: absolute;
	right: -1px;
	margin: auto 0;
	top: 0;bottom: 0;
}
main .center .new_world .description *{
	margin-left: 20px;
	margin-left: 20px;
}
main .center .new_world .description p{
	font-size: 8px;
	font-family: "SimSun";
	text-align: left;
	margin-bottom: 12px;
}
main .center .new_world .description h2,span{
	font-size: 30px;
	color: black;
}
main .center .new_world .description h2 .number{
	color: #e74f4d
}
main .center .new_world .description .more{
	text-decoration: none;
	width: 107px;
	height: 35px;
	display: inline-block;
	border: 1px solid #e74f4d;
	color: #e74f4d;
	margin-top: 50px;
	line-height: 35px;
}
main .center .new_world .description .more:hover{
	transition: 1s;
	background-color:  #e74f4d;
	color: white;
}
main .center .new_world .description .switch .radius{
	display: inline-block;
	border: 1px solid gray;
	width: 8px;
	height: 8px;
	position: relative;
	left: -10px;
	top:15px;
	border-radius: 5px;
}
main .center .new_world .description .switch .active{
	background-color: gray;
}
main .center .new_world .description .switch .radius:hover{
	background-color: gray;
}
main .about{
	width: 100%;
	height: 520px;
}
main .about .one{
	width: 425px;
	height: 100%;
	display: inline-block;
	background-color: #e74f4d;
	text-align: center;
}
main .about .two{
	width: 425px;
	height: 100%;
	display: inline-block;
	text-align: center;
}
main .about .three{
	width: 430px;
	height: 100%;
	display: inline-block;
	background-image: url(../img/no7_pic5.png);
	vertical-align: top;
	text-align: center;
	position: relative;
}
main .about .one .text{
	margin-top: 173px;
}
main .about .text p{
	font-size: 21px;
	line-height: 32px;
}
main .about .one .text p{
	color: white;
}
main .about .two .text p{
	color: black;
}
main .about .text .line{
	width: 31px;
	height: 3px;
	margin: 17px auto;
}
main .about .one .text .line{
	background-color: white;
}
main .about .two .text .line{
	background-color: gray;
}
main .about .text a{
	text-align: center;
	display: inline-block;
	width: 165px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	font-size: 21px;
}
main .about .one .text a{
	color: white;
	border: white 1px solid;
}
main .about .two .text a{
	color: #e74f4d;
	border: #e74f4d 1px solid;
}
main .about .one .text a:hover{
	transition: 1s;
	background-color: white;
	color: #e74f4d;
}
main .about .two .text a:hover{
	transition: 1s;
	background-color: #e74f4d;
	color: white;
}
main .about .three img{
	display: block;
	position: absolute;
	margin-left: -1px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0px;
	bottom: 0px;
}
main .last{
}
main .join{
	height: 648px;
	width: 100%;
	text-align: center;
}
main .join h2{
	margin-top: 165px;
	font-size: 21px;
	color: black;
	font-weight: 200;
}
main .join .line{
	margin-left:  auto;
	margin-right: auto;
	margin-top: -45px;
	margin-bottom: 15px;
	width: 31px;
	height: 3px;
	background-color: #e74f4d;
}
main .join .content{
	height: 299px;
	width: 1012px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 102px;
}
main .join .content .left{
	height: 299px;
	width: 292px;
	float:left;
	text-align: left;
}
main .join .content .left h3{
	color: black;
	font-size: 14px;
	line-height: 30px;
	font-weight: 200;
}
main .join .content .left p{
	font-family: "SimSun";
	font-size: 10px;
	line-height: 20px;
}
main .join .content .left .more{
	margin-bottom: 39px;
	text-align: right;
}
main .join .content .left .more a{
	margin-left: 5px;
	font-size: 12px;
	font-family: "SimSun";
}
main .join .content form{
	height: 299px;
	width: 670px;
	float: right;
}
main .join .content form input{
	width: 311px;
	height: 41px;
	border: none;
	background-color: #ededee;
	text-indent: 12px;
	font-family: "SimSun";
	font-size: 12px;
	margin-left: 15px;
	margin-top: 11px;
}
main .join .content form textarea{
	border: none;
	background-color: #ededee;
	text-indent: 12px;
	font-family: "SimSun";
	font-size: 12px;
	margin-top: 11px;
	margin-left: 15px;
	width: 645px;
	height: 121px;
	line-height: 30px;、
	resize: none;
}
main .join .content form .submit{
	width: 645px;
}
main .join .content form .submit:hover{
	background-color: #e74f4d;
	color:white;
	transition: 1s;
}
main .connect{
	height: 358px;
	width: 100%;
	background-color: #32363e;
	text-align: center;
	position: relative;
}
main .connect .content{
	margin-top: 40px;
	position: absolute;
	top: 30px;
	margin-top: 92px;
	margin-left: auto;
	margin-right: auto;
	left: 0;right: 0;
}
main .connect .content h2{
	color: white;
	margin-bottom: -40px;
	font-size: 21px;
}
main .connect .content p{
	font-size: 12px;
	color: white;
	font-family: "SimSun";
}
main .connect .content form{
	margin-top: 31px;
	margin-bottom: 37px;
}
main .connect .content form .email{
	width: 431px;
	border: none;
	text-indent: 6px;
	height: 41px;
}
main .connect .content form .submit{
	height: 43px;
	width: 81px;
	color: white;
	letter-spacing: 10px;
	background-color: #707278;
	border: none;
	text-indent: 12px;
	position: relative;
	left: -7px;
}
main .connect .content form .submit:hover{
	background-color: #e74f4d;
	color:white;
	transition: 1s;
}
main .connect .content li{
	display: inline-block;
	margin-right: 28px;
}
footer{
	height: 58px;
	width: 100%;
	background-color: #303039;
	position: relative;
	top: -1px;
	display: inline-block;
}
footer .one{
	text-align: left;
	line-height: 58px;
	color: white;
	text-indent: 100px;
	font-size: 15px;
	display: inline-block;
	float: left;
}
footer .two{
	float:right;
	line-height: 58px;
	margin-right: 30px;
}
footer .two a{
	text-decoration: none;
	color: white;
}
/*
我所不知道的
1.inline-block由于空字符如空格回车会导致块与块之间会有间隔，
大部分浏览器是4px，如下是最的解决办法
<div class="space">
    <a href="##">
    苹果</a><a href="##">
    西瓜</a><a href="##">
    菠萝</a>
</div
2.z-index鑴扮只有position是relative,absolute,fixed才有效
3.使用transition:1s;来添加渐变动画效果
4.使用resize:none;来去除textarea的大小调整功能
*/